# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
*.txt

*.ko
*.cmd
lab5/dist/
lab5/rootfs
lab5/kshram/check_fork
lab5/kshram/check_msg
lab5/kshram/check_resize
lab5/hellomod/hello
lab5/hellomod/hellomod.mod.c
lab5/kshram/kshram.mod.c
lab5/hellomod/Module.symvers
lab5/hellomod/modules.order
lab5/kshram/Module.symvers
lab5/kshram/modules.order
